<div class="rounded-lg shadow-xl p-8 bg-white" style="width: 1024px;">
  <div class="flex flex-col gap-6">
    <div class="flex gap-4 items-center">
      <button class="btn">Base</button>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">Seconday</button>
      <button class="btn btn-tertiary">Tertiary</button>
      <button class="btn btn-link">Link</button>
      <button class="btn btn-gray-link">Gray link</button>
    </div>

    <div class="flex gap-4 items-center">
      <button class="btn btn-tiny">Base tiny</button>
      <button class="btn btn-small">Base small</button>
      <button class="btn btn-medium">Base medium</button>
      <button class="btn btn-large">Base large</button>
      <button class="btn btn-huge">Base huge</button>
    </div>

    <div class="flex gap-4 items-center">
      <button class="btn btn-primary btn-tiny">Base tiny</button>
      <button class="btn btn-primary btn-small">Base small</button>
      <button class="btn btn-primary btn-medium">Base medium</button>
      <button class="btn btn-primary btn-large">Base large</button>
      <button class="btn btn-primary btn-huge">Base huge</button>
    </div>

    <div class="flex gap-4 items-center">
      <button class="btn btn-secondary btn-tiny">Base tiny</button>
      <button class="btn btn-secondary btn-small">Base small</button>
      <button class="btn btn-secondary btn-medium">Base medium</button>
      <button class="btn btn-secondary btn-large">Base large</button>
      <button class="btn btn-secondary btn-huge">Base huge</button>
    </div>
  </div>
</div>
